/* Structure principale pour le body et le container */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

.app-container {
  flex: 1; /* Cela permet d'étirer le contenu principal */
}

/* Footer fixé en bas */
.footer {
  background-color: #1e1e2f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
}
